language: generic 
sudo: required
services:
  - docker

before_install:
  - docker buld -t kumarso/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true kumarso/docker-react npm run test