language: generic 
sudo: required
services:
  - docker

before_install:
  - docker build -t kumarso/docker-myreact -f Dockerfile .
#  - docker-compose -f docker-compose-dev.yml up
#  - docker-compose -f docker-compose-dev.yaml up --build
#  - docker-compose -f docker-compose-dev.yml down

#script:
#  - docker run -e CI=true kumarso/docker-myreact npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-us-east-2-589385579757"
  bucket-path: "docker-react"
  on:
    branch: main
  access_key_id: $aws_access_key
  secret_access_key: $aws_secret_access_key



