language: generic 
sudo: required
services:
  - docker

before_install:
  - docker build -t kumarso/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true kumarso/docker-react npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-us-east-2-589385579757"
  bucket-path: "docker-react"
  on:
    branch: main
  access_key: $aws_access_key
  secret_access_key: $aws_secret_access_key



