version: '3'
services:
  node-app:
    image: docker-react:kumarso
    build: 
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "80:80"
    volumes:
      - /app/node_modules
      - .:/app



    
